<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" 
        >
    @*AdditionalAssemblies="new[] {
    //typeof(RazorComponentLibrary.Pages.Authentication).Assembly,
    typeof(RazorComponentLibrary.Pages.Counter).Assembly,
    typeof(RazorComponentLibrary.Pages.FetchData).Assembly,
    typeof(RazorComponentLibrary.Pages.Index).Assembly,
    typeof(RazorComponentLibrary.Pages.Food.CreateFood).Assembly,
    //typeof(RazorComponentLibrary.Pages.Food.FoodForm).Assembly,
    typeof(RazorComponentLibrary.Pages.Food.FoodTable).Assembly,
    typeof(RazorComponentLibrary.Pages.Food.UpdateFood).Assembly,
        }"*@
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(RazorComponentLibrary.Shared.MainLayout)">
                <Authorizing>
                    <p>Trying to log you in... Please wait one moment...</p>
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource. Please log in</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(RazorComponentLibrary.Shared.MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
<AntContainer />